extends ./layout.jade
block meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
block css
    // Bootstrap Core CSS
    link(rel='stylesheet', href='css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css.map', type='text/css')
    // Custom Fonts
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    // Plugin CSS
    link(rel='stylesheet', href='css/animate.min.css', type='text/css')
    // Custom CSS
    link(rel='stylesheet', href='css/creative.css', type='text/css')
    link(rel='stylesheet', href='css/castom.css', type='text/css')
    //ICONS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', type='text/css')
block navDescriptor
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |                     
            span.icon-bar
            |                     
            span.icon-bar
            |                     
            span.icon-bar
          |                 
          a.navbar-brand.page-scroll(href='#page-top')
            img(src='img/logo.png', alt='!=BRAND')
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a#callMeplz.page-scroll(href='#page-top', data-toggle='modal', data-target='#exampleModal', data-whatever='callMe')!=PHONE 
            li
              a.page-scroll(href='#about')!=ABOUT
            |                     
            li
              a.page-scroll(href='#services')!=SERVICES
            |                     
            li
              a.page-scroll(href='#portfolio')!=PORTFOLIO
            |                     
            li
              a.page-scroll(href='#contact')!=CONTACT
        // /.navbar-collapse
      // /.container-fluid
block headerSubheader
    header
      .header-content
        .header-content-inner
          h1!=H1
          hr
          p.slogan!=SLOGAN
          a.btn.btn-primary.btn-xl.page-scroll(href='#', data-toggle='modal', data-target='#exampleModal', data-whatever='callMe')!=CALLME
block boomcall     
    section#about.boom.bg-primary
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            p.text-faded!=BOOMNOTE1
            a.btn.btn-default.btn-xl.wow.tada(type='button', data-toggle='modal', data-target='#exampleModal', data-whatever='callMe')!=SIGNUP0

block boomcalculate     
    section#phase.boom.bg-primary
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            p.text-faded!=BOOMNOTE2
            a.btn.btn-default.btn-xl.wow.tada(type='button', data-toggle='modal', data-target='#exampleModal', data-whatever='callMe')!=SIGNUP1
block boom     
    section#about.bg-primary
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading!=BOOM
            hr.light
              
            h3.text-faded!=BOOMNOTE3
            a.btn.btn-default.btn-xl.wow.tada(type='button', data-toggle='modal', data-target='#exampleModal', data-whatever='coupon')!=BOOMBUTTON
block arguments     
    section#about
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading!=WHYUS
            |                     
            hr.primary

      .container
        .row
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-fort-awesome.fa-4x.wow.bounceIn.text-primary
              h3!=ADVANTAGES[0]
              //p.text-muted!=NAMESADVANTAGES[0]
          .col-lg-3.col-md-6.text-center.advantages
            .service-box
              i.fa.fa-4x.fa-flag.wow.bounceIn.text-primary(data-wow-delay='.3s')
              h3!=ADVANTAGES[1]
              //p.text-muted!=NAMESADVANTAGES[1]                 
          .col-lg-3.col-md-6.text-center.advantages
            .service-box
              i.fa.fa-4x.fa-calendar.wow.bounceIn.text-primary(data-wow-delay='.1s')
              h3!=ADVANTAGES[2]
              //p.text-muted!=NAMESADVANTAGES[2]
          .col-lg-3.col-md-6.text-center.advantages
            .service-box
              i.fa.fa-4x.fa-key.wow.bounceIn.text-primary(data-wow-delay='.2s')
              h3!=ADVANTAGES[3]
              //p.text-muted!=NAMESADVANTAGES[3]
          .col-lg-3.col-md-6.text-center.advantages
            .service-box
              i.fa.fa-4x.fa-hospital-o.wow.bounceIn.text-primary
              h3!=ADVANTAGES[4]
              //p.text-muted!=NAMESADVANTAGES[4]
          .col-lg-3.col-md-6.text-center.advantages
            .service-box
              i.fa.fa-4x.fa-paper-plane-o.wow.bounceIn.text-primary(data-wow-delay='.3s')
              h3!=ADVANTAGES[5]
              //p.text-muted!=NAMESADVANTAGES[5]
          .col-lg-3.col-md-6.text-center.advantages
            .service-box
              i.fa.fa-4x.fa-star.wow.bounceIn.text-primary(data-wow-delay='.1s')
              h3!=ADVANTAGES[6]
              //p.text-muted!=NAMESADVANTAGES[6]
          .col-lg-3.col-md-6.text-center.advantages
            .service-box
              i.fa.fa-4x.fa-child.wow.bounceIn.text-primary(data-wow-delay='.2s')
              h3!=ADVANTAGES[7]
              //p.text-muted!=NAMESADVANTAGES[7]
block phase     
    section
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading!=PHASESNOTE
            |                     
            hr.primary
      |         
      .container
        .row
         - var n = 0
            while n < 8
              - n++
              .col-lg-3.col-md-6.text-center.phases
                .service-box
                  img(src='img/phase/'+n+'.png', alt='PHASENOTE[(n-1)')
                  h3!=PHASES[(n-1)]
                  p.text-muted!=PHASENOTE[(n-1)]

         
block portfolio   
    section#portfolio
      .container-fluid
        .row.no-gutter
          .col-lg-12.text-center
            h2.section-heading!=EXAMPLES
            hr.primary
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='img/areas/1.jpg', alt='')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded!=PORTAREA1
                  .project-name!=PORTAREANAME1
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='img/areas/2.jpg', alt='')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded!=PORTAREA2
                  .project-name!=PORTAREANAME2
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='img/areas/3.jpg', alt='')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded!=PORTAREA3
                  .project-name!=PORTAREANAME3
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='img/areas/4.jpg', alt='')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded!=PORTAREA4
                  .project-name!=PORTAREANAME4
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='img/areas/5.jpg', alt='')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded!=PORTAREA5
                  .project-name!=PORTAREANAME5
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='img/areas/6.jpg', alt='')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded!=PORTAREA6
                  .project-name!=PORTAREANAME6

block portfolio2  
    section#services
      .container-fluid
        .row.no-gutter
          .col-lg-12.text-center
            h2.section-heading!=SERVICES
            hr.primary
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='img/services/1.jpg', alt='')
              |                         
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded!=PORTCATEGORY1
                  .project-name!=PORTNAME1
          |                 
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='img/services/2.jpg', alt='')
              |                         
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded!=PORTCATEGORY2
                  .project-name!=PORTNAME2
          |                 
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='img/services/3.jpg', alt='')
              |                         
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded!=PORTCATEGORY3
                  .project-name!=PORTNAME3
          |                 
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='img/services/4.jpg', alt='')
              |                         
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded!=PORTCATEGORY4
                  .project-name!=PORTNAME4
          |                 
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='img/services/5.jpg', alt='')
              |                         
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded!=PORTCATEGORY5
                  .project-name!=PORTNAME5
          |                 
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='img/services/6.jpg', alt='')
              |                         
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded!=PORTCATEGORY6
                  .project-name!=PORTNAME6



block trust
    aside.bg-dark
      .container.text-center
        .call-to-action
          h2!=CALLTOACTION
          p!=CALLTOACTIOTEXT
                             
          a.btn.btn-default.btn-xl.wow.tada(type='button', data-toggle='modal', data-target='#exampleModal', data-whatever='callMe')!=SIGNUP2


block faq 
    section#contact
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading!=CONTACTUS
            |                     
            hr.primary
            p!=CONTACTUSNOTE
          .col-lg-4.col-md-4.text-center
            i.fa.fa-phone.fa-3x.wow.bounceIn
            p!=PHONE
          .col-lg-4.text-center
            i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
            p
              a(href='mailto:!=EMAIL')!=EMAIL
          .col-lg-4.text-center
            i.fa.fa-3x.wow.bounceIn(data-wow-delay='.1s')="ЮНА"
            p
              a(href="http://juna-life.ru/" target="_blank")!=SITE
block scripts
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='js/jquery.easing.min.js')
    script(src='js/jquery.fittext.js')
    script(src='js/wow.min.js')
    // Custom Theme JavaScript
    script(src='js/creative.js')
    script(src='js/centerPhone.js')

block modalW
    #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4#exampleModalLabel.modal-title!=MODALHEADER
          .modal-body
            form
              each val, index in {'productID':null, 'tel':'Телефон', 'email':'Электроная почта','client-lastname':'Фамилия','client-name':'Имя','client-secondname':'Очество','message-text':'Комментарий'}
                .form-group.inputFields(class=index)
                  label.control-label(for=index)=val +":"
                  input(id=index).form-control(type=index, required=true)
           .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal')!=CLOSE
            button#SendForm.btn.btn-primary(type='button', data-dismiss='modal', disabled="disabled")!=SEND
    script(src='js/modalMagic.js')
block yaMap
    script(src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=oBOv0O448wfHCxQq0CyJ1ZE0LvFjrXCS&width=100%&height=600&lang=ru_RU&sourceType=constructor')
block yaCounter
       script(src='js/YaCounter.js')
block errors
